<% wrap_layout :layout do %>
    <%= partial 'partials/header' %>

<section class="2xl:py-24 article-style">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row justify-between">
            <div class="px-5 pt-5 prose md:max-w-none md:w-full xl:max-w-prose xl:prose-xl 2xl:px-0 2xl:pt-0">
                <% article_date = I18n.l current_page.date, :format => "%-d %B %Y, %A %H:%M" %>
                
                <h1><%= current_page.title %></h1>
                <time class="text-base text-bilus-400 font-medium" pubdate datetime="<%= current_page.date.xmlschema %>" title="<%= article_date %>">
                    <%= article_date %>
                    <% if current_page.metadata[:page][:author].present? %>
                    , Written by: <span class="font-semibold"><%= current_page.metadata[:page][:author] %></span>
                    <% end %>
                    
                </time>

                <%= yield.sub(/<p>(.*?)<\/p>/m, '<p class="lead">\1</p>') %>
                
                <div class="border-t-8 px-5 py-5 space-y-5 prose xl:prose-xl 2xl:px-0">
                    <h3>Continue reading other articles?</h3>
                    <% if current_page.article_next %>
                    <a href="<%= current_page.article_next.url %>" class="block">&larr; <%= current_page.article_next.title %></a>
                    <% end %>
                    <% if current_page.article_previous %>
                    <a href="<%= current_page.article_previous.url %>" class="block"><%= current_page.article_previous.title %> &rarr;</a>
                    <% end %>
                </div>
            </div>

            <div class="md:px-5 md:pb-5 xl:px-0 xl:pb-0 2xl:pl-24 2xl:space-y-10">
                <%= partial "partials/blog_detail_sidebar" %>
            </div>
        </div>
    </div>
</section>

    <%= partial 'partials/footer' %>
<% end %>

