<footer class="bg-white 2xl:py-24">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2">

        <div class="p-10 sm:p-5 2xl:p-0">
            <address class="not-italic text-center sm:text-left flex flex-col gap-y-2 text-bilus-700">
                <p class="text-bilus-500 text-lg font-bold">Bilus Teknoloji A.Ş</p>
                <p class="leading-relaxed">
                    Şeyh Galip Sk - OFTON Elysium B Blok 2/1<br/>
                    34718 - Acıbadem - İstanbul / Türkiye<br/>
                    Office: <a class="font-medium" href="tel:+905322214608">+90 (532) 221 46 08</a>
                </p>
                <p>
                    <a title="<%= I18n.t('click_to_view', title: t('see_in_google_maps')) %>" class="text-sm inline-flex items-center gap-x-1" href="https://maps.app.goo.gl/yEMBMhjsX3bqnkBQ7" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                        </svg>
                        Google Maps
                    </a>
                </p>
            </address>
            
            <div class="flex flex-row justify-center sm:justify-start items-center gap-x-2 text-bilus-500 mt-5">
                <a title="<%= t('follow_us_on_x') %>" href="https://x.com/bilusteknoloji" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M18.42,14.009L27.891,3h-2.244l-8.224,9.559L10.855,3H3.28l9.932,14.455L3.28,29h2.244l8.684-10.095,6.936,10.095h7.576l-10.301-14.991h0Zm-3.074,3.573l-1.006-1.439L6.333,4.69h3.447l6.462,9.243,1.006,1.439,8.4,12.015h-3.447l-6.854-9.804h0Z"></path>
                    </svg>
                </a>

                <a title="<%= t('follow_us_on_github') %>" href="https://github.com/bilusteknoloji/" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M16,2.345c7.735,0,14,6.265,14,14-.002,6.015-3.839,11.359-9.537,13.282-.7,.14-.963-.298-.963-.665,0-.473,.018-1.978,.018-3.85,0-1.312-.437-2.152-.945-2.59,3.115-.35,6.388-1.54,6.388-6.912,0-1.54-.543-2.783-1.435-3.762,.14-.35,.63-1.785-.14-3.71,0,0-1.173-.385-3.85,1.435-1.12-.315-2.31-.472-3.5-.472s-2.38,.157-3.5,.472c-2.677-1.802-3.85-1.435-3.85-1.435-.77,1.925-.28,3.36-.14,3.71-.892,.98-1.435,2.24-1.435,3.762,0,5.355,3.255,6.563,6.37,6.913-.403,.35-.77,.963-.893,1.872-.805,.368-2.818,.963-4.077-1.155-.263-.42-1.05-1.452-2.152-1.435-1.173,.018-.472,.665,.017,.927,.595,.332,1.277,1.575,1.435,1.978,.28,.787,1.19,2.293,4.707,1.645,0,1.173,.018,2.275,.018,2.607,0,.368-.263,.787-.963,.665-5.719-1.904-9.576-7.255-9.573-13.283,0-7.735,6.265-14,14-14Z"></path>
                    </svg>
                </a>

                <a title="<%= t('follow_us_on_linkedin') %>" href="https://www.linkedin.com/company/bilusteknoloji" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M26.111,3H5.889c-1.595,0-2.889,1.293-2.889,2.889V26.111c0,1.595,1.293,2.889,2.889,2.889H26.111c1.595,0,2.889-1.293,2.889-2.889V5.889c0-1.595-1.293-2.889-2.889-2.889ZM10.861,25.389h-3.877V12.87h3.877v12.519Zm-1.957-14.158c-1.267,0-2.293-1.034-2.293-2.31s1.026-2.31,2.293-2.31,2.292,1.034,2.292,2.31-1.026,2.31-2.292,2.31Zm16.485,14.158h-3.858v-6.571c0-1.802-.685-2.809-2.111-2.809-1.551,0-2.362,1.048-2.362,2.809v6.571h-3.718V12.87h3.718v1.686s1.118-2.069,3.775-2.069,4.556,1.621,4.556,4.975v7.926Z" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="hidden sm:block sm:ml-auto">
            <div class="grid grid-cols-2 p-5 2xl:p-0 2xl:gap-x-20">
                <% data.items.footer[lang].each do |_, items| %>
                <div>
                    <ul class="*:mb-4 last:*:mb-0 text-sm text-bilus-500 [&>li>a]:font-semibold [&>li>a]:hover-underline">
                    <% items.each do |item| %>
                    <li>
                        <% title, url = get_resource_title_and_url_by_path(item) %>
                        <a title="<%= I18n.t('click_to_view', title: title) %>" href="<%= url %>"><%= title %></a>
                    </li>
                    <% end %>
                    
                    </ul>
                </div>
                <% end %>
                
            </div>
        </div>
    </div>
</footer>