---
title: Blog
description: Explore Bilus Teknoloji Blog for in-depth articles on technology trends, product reviews, and expert insights. Stay ahead in the tech world with us.
---

<section class="2xl:py-24 article-style">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="prose prose-links xl:prose-xl border-r pr-5">
                <h1>
                    Explore our latest articles
                    <small class="block text-bilus-300">about tech industries</small>
                </h1>
                <p>
                    Explore our <strong>latest</strong> articles, white-papers, and thought
                    leadership content, unlocking valuable insights and best
                    practices to fortify your digital assets.
                </p>
                
                <ul>
                <% page_articles.sort_by{ |a| a.date }.reverse.each do |post| %>
                    <li>
                        <a title="<%= I18n.t('click_to_read', title: post.title) %>" href="<%= post.url %>"><%= post.title %></a>
                        <small class="block"><%= I18n.l post.date, :format => config.date_format_long[I18n.locale] %></small>
                    </li>
                <% end %>
                </ul>
                
            </div>
            <%= partial "partials/blog_sidebar" %>
        </div>
    </div>
</section>
