---
title: Software Solutions Shaping the Future
---

<section class="bg-white pt-16 pb-4 sticky top-0 z-30 border-b">
    <div class="container mx-auto">
        <nav>
            <ul class="flex justify-start items-center gap-x-12">
                <li>
                    <a class="nav-links hover-underline flex items-center gap-x-2" href="#">
                        <%= image_tag "bilus-logo.png", id: "bilus-logo", class: "size-4" %>

                        Bilus Teknoloji
                    </a>
                </li>
                <li class="relative group">
                    <a class="inline-flex items-center gap-1 nav-links" href="#">
                        Services
                        <svg class="w-4 h-4 transform transition-transform duration-200 group-hover:rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>

                    <ul class="absolute left-0 top-full mt-2 w-80 bg-white border rounded shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all duration-200 z-40">
                        <li class="px-4 pt-4"><a href="#" class="submenu-links">Technical Consulting</a></li>
                        <li class="px-4 pt-2"><a href="#" class="submenu-links">Software Development &amp; Management</a></li>
                        <li class="px-4 pt-2"><a href="#" class="submenu-links">Technical Assessment &amp; Risk Management</a></li>
                        <li class="px-4 pt-2"><a href="#" class="submenu-links">Data Management &amp; Analytics Solutions</a></li>
                        <li class="px-4 pt-2"><a href="#" class="submenu-links">Software &amp; Architecture Training</a></li>
                        <li class="px-4 pt-2 pb-4"><a href="#" class="submenu-links">Digital Transformation &amp; Innovation</a></li>
                    </ul>
                </li>
                
                <li><a class="nav-links hover-underline" href="#">Blog</a></li>
                <li><a class="nav-links hover-underline" href="#">About</a></li>
                <li class="flex-grow"></li>
                <li><a class="nav-links hover-underline" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</section>

<section class="2xl:pb-24 pt-20">
    <div class="container mx-auto">
        <div class="flex w-full">
            <div class="2xl:w-4/6">
                <h1 class="text-bilus-500 mb-5 2xl:text-5xl 2xl:font-bold 2xl:leading-none">
                    Data-Oriented Technology Management for Scalable Growth
                </h1>
                <h2 class="mb-5 2xl:text-3xl 2xl:leading-snug 2xl:max-w-3xl">
                    We transform chaotic tech teams into <strong>high-performance</strong> engines — 
                    driven by <strong>data</strong>, guided by <strong>strategy</strong>.
                </h2>
                <p class="mb-5 2xl:text-2xl 2xl:leading-relaxed">
                    In today’s <strong>digital</strong> world, effective technology management is 
                    <strong>crucial</strong> for business success. By offering <strong>data-driven</strong> 
                    solutions, we <strong>optimize</strong> your digital infrastructure, <strong>enhance</strong> 
                    operational <strong>efficiency</strong>, and secure <strong>long-term</strong> success.
                </p>
                <h3 class="mb-10 text-bilus-600 font-semibold 2xl:text-3xl 2xl:leading-snug 2xl:max-w-2xl">
                    Unleash your potential with our <strong>tailored solutions</strong> 
                    for your every tech needs!
                </h3>
                <a href="#" class="inline-block bg-bilus-700 text-white px-6 py-3 font-bold rounded-full hover:bg-bilus-500 focus:outline-none focus:ring-4 focus:ring-bilus-300 transition duration-200 ease-in-out">Get Started Now!</a>
            </div>
            <div class="2xl:w-2/6">
                <div class="w-fit shadow-lg ml-auto">
                    <%= image_tag "clipart.jpg", class: "mx-auto size-80 border border-bilus-100 rounded-xl" %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="2xl:pt-0 2xl:pb-24">
    <div class="mx-auto grid grid-cols-1 2xl:gap-8 2xl:max-w-7xl 2xl:grid-cols-3">

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path d="M11.25 5.337c0-.355-.186-.676-.401-.959a1.647 1.647 0 0 1-.349-1.003c0-1.036 1.007-1.875 2.25-1.875S15 2.34 15 3.375c0 .369-.128.713-.349 1.003-.215.283-.401.604-.401.959 0 .332.278.598.61.578 1.91-.114 3.79-.342 5.632-.676a.75.75 0 0 1 .878.645 49.17 49.17 0 0 1 .376 5.452.657.657 0 0 1-.66.664c-.354 0-.675-.186-.958-.401a1.647 1.647 0 0 0-1.003-.349c-1.035 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401.31 0 .557.262.534.571a48.774 48.774 0 0 1-.595 4.845.75.75 0 0 1-.61.61c-1.82.317-3.673.533-5.555.642a.58.58 0 0 1-.611-.581c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.035-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959a.641.641 0 0 1-.658.643 49.118 49.118 0 0 1-4.708-.36.75.75 0 0 1-.645-.878c.293-1.614.504-3.257.629-4.924A.53.53 0 0 0 5.337 15c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.036 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.369 0 .713.128 1.003.349.283.215.604.401.959.401a.656.656 0 0 0 .659-.663 47.703 47.703 0 0 0-.31-4.82.75.75 0 0 1 .83-.832c1.343.155 2.703.254 4.077.294a.64.64 0 0 0 .657-.642Z" />
            </svg>
            
            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Technical Consulting
            </h4>
            <p class="2xl:leading-relaxed">
                We help businesses <strong>optimize</strong> their organizational structure and processes, 
                <strong>aligning</strong> technology with strategic goals to improve <strong>efficiency</strong> and team 
                <strong>performance</strong>.
            </p>
            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path d="M17.004 10.407c.138.435-.216.842-.672.842h-3.465a.75.75 0 0 1-.65-.375l-1.732-3c-.229-.396-.053-.907.393-1.004a5.252 5.252 0 0 1 6.126 3.537ZM8.12 8.464c.307-.338.838-.235 1.066.16l1.732 3a.75.75 0 0 1 0 .75l-1.732 3c-.229.397-.76.5-1.067.161A5.23 5.23 0 0 1 6.75 12a5.23 5.23 0 0 1 1.37-3.536ZM10.878 17.13c-.447-.098-.623-.608-.394-1.004l1.733-3.002a.75.75 0 0 1 .65-.375h3.465c.457 0 .81.407.672.842a5.252 5.252 0 0 1-6.126 3.539Z" />
              <path fill-rule="evenodd" d="M21 12.75a.75.75 0 1 0 0-1.5h-.783a8.22 8.22 0 0 0-.237-1.357l.734-.267a.75.75 0 1 0-.513-1.41l-.735.268a8.24 8.24 0 0 0-.689-1.192l.6-.503a.75.75 0 1 0-.964-1.149l-.6.504a8.3 8.3 0 0 0-1.054-.885l.391-.678a.75.75 0 1 0-1.299-.75l-.39.676a8.188 8.188 0 0 0-1.295-.47l.136-.77a.75.75 0 0 0-1.477-.26l-.136.77a8.36 8.36 0 0 0-1.377 0l-.136-.77a.75.75 0 1 0-1.477.26l.136.77c-.448.121-.88.28-1.294.47l-.39-.676a.75.75 0 0 0-1.3.75l.392.678a8.29 8.29 0 0 0-1.054.885l-.6-.504a.75.75 0 1 0-.965 1.149l.6.503a8.243 8.243 0 0 0-.689 1.192L3.8 8.216a.75.75 0 1 0-.513 1.41l.735.267a8.222 8.222 0 0 0-.238 1.356h-.783a.75.75 0 0 0 0 1.5h.783c.042.464.122.917.238 1.356l-.735.268a.75.75 0 0 0 .513 1.41l.735-.268c.197.417.428.816.69 1.191l-.6.504a.75.75 0 0 0 .963 1.15l.601-.505c.326.323.679.62 1.054.885l-.392.68a.75.75 0 0 0 1.3.75l.39-.679c.414.192.847.35 1.294.471l-.136.77a.75.75 0 0 0 1.477.261l.137-.772a8.332 8.332 0 0 0 1.376 0l.136.772a.75.75 0 1 0 1.477-.26l-.136-.771a8.19 8.19 0 0 0 1.294-.47l.391.677a.75.75 0 0 0 1.3-.75l-.393-.679a8.29 8.29 0 0 0 1.054-.885l.601.504a.75.75 0 0 0 .964-1.15l-.6-.503c.261-.375.492-.774.69-1.191l.735.267a.75.75 0 1 0 .512-1.41l-.734-.267c.115-.439.195-.892.237-1.356h.784Zm-2.657-3.06a6.744 6.744 0 0 0-1.19-2.053 6.784 6.784 0 0 0-1.82-1.51A6.705 6.705 0 0 0 12 5.25a6.8 6.8 0 0 0-1.225.11 6.7 6.7 0 0 0-2.15.793 6.784 6.784 0 0 0-2.952 3.489.76.76 0 0 1-.036.098A6.74 6.74 0 0 0 5.251 12a6.74 6.74 0 0 0 3.366 5.842l.009.005a6.704 6.704 0 0 0 2.18.798l.022.003a6.792 6.792 0 0 0 2.368-.004 6.704 6.704 0 0 0 2.205-.811 6.785 6.785 0 0 0 1.762-1.484l.009-.01.009-.01a6.743 6.743 0 0 0 1.18-2.066c.253-.707.39-1.469.39-2.263a6.74 6.74 0 0 0-.408-2.309Z" clip-rule="evenodd" />
            </svg>
            
            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Software Development &amp; Management
            </h4>
            <p class="2xl:leading-relaxed">
                From <strong>custom</strong> software development to project management, we ensure seamless 
                execution through the software development lifecycle (<strong>SDLC</strong>), delivering <strong>scalable</strong> 
                and <strong>reliable</strong> solutions. 
            </p>
            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" />
            </svg>
            
            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Technical Assessment &amp; Risk Management
            </h4>
            <p class="2xl:leading-relaxed">
                We provide comprehensive software evaluations, identifying
                <strong>risks</strong> and improving <strong>quality</strong> through code 
                <strong>reviews</strong> and <strong>due diligence</strong>, 
                enabling informed decision-making.
            </p>

            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
            </svg>
            
            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Data Management &amp; Analytics Solutions
            </h4>
            <p class="2xl:leading-relaxed">
                Our <strong>data solutions</strong> help businesses leverage <strong>big data</strong>, enhance data security, 
                and optimize <strong>data management</strong> for actionable <strong>insights</strong> and strategic 
                <strong>decision-making</strong>.
            </p>

            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>

            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Software &amp; Architecture Training
            </h4>
            <p class="2xl:leading-relaxed">
                Our training programs provide <strong>hands-on</strong>, <strong>real-world</strong> learning in
                secure <strong>coding</strong>, clean <strong>architecture</strong>, version control, databases,
                and <strong>cloud-native technologies</strong> to help developers and IT
                professionals advance their skills and careers.
            </p>

            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

        <div class="bg-white border border-bilus-100 rounded-xl 2xl:p-8 2xl:shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 2xl:size-16 text-bilus-400 2xl:mb-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
            </svg>
            
            <h4 class="text-bilus-600 2xl:mb-5 2xl:font-semibold 2xl:text-2xl">
                Digital Transformation &amp; Innovation
            </h4>
            <p class="2xl:leading-relaxed">
                We guide businesses through <strong>digital transformation</strong>, adopting
                innovative technologies to <strong>optimize processes</strong> and drive growth.
            </p>

            <p class="mt-5">
                <a href="#" class="text-bilus-400 font-semibold inline-flex items-center gap-1.5 hover:opacity-80">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </p>
        </div>

    </div>
</section>


<section class="bg-bilus-800 2xl:py-24">
    <div class="container mx-auto text-center 2xl:mb-12">
        <h2 class="heading-2-rev">Trusted by Industry Leaders</h2>
        <p class="mx-auto mt-5 text-bilus-100 2xl:max-w-3xl 2xl:text-2xl 2xl:leading-normal">
            See what our clients have to say about our IT solutions. We
            prioritize integrity and collaboration to enhance the efficiency
            and security of your digital infrastructure.
        </p>
    </div>

    <div class="container mx-auto text-bilus-100 grid grid-cols-1 2xl:gap-8 2xl:grid-cols-3">
        <div class="border-2 border-bilus-300 rounded-xl 2xl:p-8 flex flex-col gap-y-5 justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-bilus-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>
            
            <p>
                I&rsquo;ve been working with your company for years, and I have always 
                admired your professionalism. Especially with your deep knowledge in digital 
                transformation processes and strategic outlook, our projects have always been successful. 
            </p>
            <p>
                Your team&rsquo;s expertise in technology and the solutions you provide to clients 
                are truly impressive. I wish you continued success in your work!
            </p>
            <div class="flex items-center space-x-4 w-fit">
                <img src="https://i.pravatar.cc/150?img=69" alt="Robert Benavides" class="border border-bilus-300 size-16 rounded-full object-cover" />
                <div>
                    <h3 class="text-lg font-semibold text-bilus-100">Robert Benavides</h3>
                    <h4 class="text-sm text-bilus-300">Eng. Manager, NetTech Solutions</h4>
                </div>
            </div>
        </div>

        <div class="border-2 border-bilus-300 rounded-xl 2xl:p-8 flex flex-col gap-y-5 justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-bilus-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>

            <p>
                You&rsquo;ve played a pivotal role in digitizing our business
                processes and strengthening our technology infrastructure.
            </p>
            <p>
                Every piece of work you do incorporates the best industry practices and 
                innovative solutions. 
            </p>
            
            <p>It&rsquo;s been a privilege working with you, and we highly value your partnership.</p>

            <div class="flex items-center space-x-4 w-fit">
                <img src="https://i.pravatar.cc/150?img=5" alt="Sarah Williams" class="border border-bilus-300 size-16 rounded-full object-cover" />
                <div>
                    <h3 class="text-lg font-semibold text-bilus-100">Sarah Williams</h3>
                    <h4 class="text-sm text-bilus-300">CIO, Innovatech Global</h4>
                </div>
            </div>
        </div>

        <div class="border-2 border-bilus-300 rounded-xl 2xl:p-8 flex flex-col gap-y-5 justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-bilus-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>

            <p>Your company has provided us with immense strategic value. </p>
            <p>
                Our long-standing partnership has played a key role in integrating new 
                technologies and improving our operational efficiency. 
            </p>
            <p>
                Projects are always delivered on time and with results exceeding 
                our expectations. 
            </p>
            <p>You truly deserve to be a leader in the IT consulting space!</p>

            <div class="flex items-center space-x-4 w-fit">
                <img src="https://i.pravatar.cc/150?img=18" alt="Charles Richards" class="border border-bilus-300 size-16 rounded-full object-cover" />
                <div>
                    <h3 class="text-lg font-semibold text-bilus-100">Charles Richards</h3>
                    <h4 class="text-sm text-bilus-300">IT Director, GlobalSoft</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="2xl:py-24">
    <div class="container mx-auto">
        <div class="text-center">
            <h2 class="heading-2">
                Stay Ahead of the Curve
                <small class="block mt-2 text-bilus-500">Insights on IT World</small>
            </h2>
            <p class="2xl:text-xl 2xl:mb-12">
                Explore our latest articles, white papers, and thought leadership content.
            </p>
        </div>
        
        <div class="mb-5 grid grid-cols-1 2xl:gap-8 2xl:max-w-7xl 2xl:grid-cols-3">
            <div class="bg-white border rounded-xl p-6">
                <a href="#" title="Click to read: Why IT Consultancy is Essential for Business Growth" class="group flex flex-col gap-5">
                    <div class="overflow-hidden rounded-lg">
                        <%= image_tag 'blog/0001-why-it-consultancy-is-essential-for-business-growth.webp', alt: 'Blog cover of Why IT Consultancy is Essential for Business Growth article', class: "transition duration-300 group-hover:scale-110 rounded-inherit" %>
                    </div>
                    <h3 class="text-bilus-500 font-semibold text-xl">Why IT Consultancy is Essential for Business Growth</h3>
                    <p class="leading-relaxed">
                        In the digital age, <strong>technology</strong> plays a crucial role in the success of 
                        businesses. However, many companies <strong>struggle</strong> to keep up with the 
                        <strong>rapid pace</strong> of technological advancements.
                    </p>
                </a>
            </div>

            <div class="bg-white border rounded-xl p-6">
                <a href="#" title="Click to read: The Importance of IT Consultancy for Modern Businesses" class="group flex flex-col gap-5">
                    <div class="overflow-hidden rounded-lg">
                        <%= image_tag 'blog/0002-the-importance-of-it-consultancy-for-modern-businesses.webp', alt: 'Blog cover of The Importance of IT Consultancy for Modern Businesses article', class: "transition duration-300 group-hover:scale-110 rounded-inherit" %>
                    </div>
                    <h3 class="text-bilus-500 font-semibold text-xl">The Importance of IT Consultancy for Modern Businesses</h3>
                    <p class="leading-relaxed">
                        In today&rsquo;s fast-paced digital world, businesses of all sizes rely heavily on 
                        <strong>technology</strong> to operate efficiently and stay <strong>competitive</strong>.
                    </p>
                </a>
            </div>

            <div class="bg-white border rounded-xl p-6">
                <a href="#" title="Click to read: How IT Consultancy Drives Innovation and Business Success" class="group flex flex-col gap-5">
                    <div class="overflow-hidden rounded-lg">
                        <%= image_tag 'blog/0003-how-it-consultancy-drives-innovation-and-business-success.webp', alt: 'Blog cover of How IT Consultancy Drives Innovation and Business Success article', class: "transition duration-300 group-hover:scale-110 rounded-inherit" %>
                    </div>
                    <h3 class="text-bilus-500 font-semibold text-xl">How IT Consultancy Drives Innovation and Business Success</h3>
                    <p class="leading-relaxed">
                        In an era where technology drives business success, staying ahead of the curve 
                        can be <strong>challenging</strong>. While <strong>technology</strong> offers immense opportunities, 
                        managing IT systems effectively is often a <strong>complex</strong> task.
                    </p>
                </a>
            </div>
        </div>
        
        <div class="text-center">
            <a href="#" class="inline-block bg-bilus-400 text-white px-6 py-3 font-bold rounded-full hover:bg-bilus-500 focus:outline-none focus:ring-4 focus:ring-bilus-300 transition duration-200 ease-in-out">Read All Articles</a>
        </div>
    </div>
</section>

<section class="border-t border-b bg-bilus-100/10 2xl:py-24">
    <div class="container mx-auto text-center">
        <h2 class="heading-2">
            Optimize Your Technology, Transform Your Future
        </h2>
        <p class="mx-auto mb-12 2xl:max-w-2xl 2xl:text-xl">
            Experienced consultants and tech experts at your service,
            providing tailored solutions to drive your business forward and
            ensure seamless digital transformation.
        </p>
        <a href="#" class="bg-bilus-700 text-white px-6 py-3 font-bold rounded-full hover:bg-bilus-500 focus:outline-none focus:ring-4 focus:ring-bilus-300 transition duration-200 ease-in-out">Get Started Now!</a>
    </div>
</section>

<footer class="bg-white 2xl:py-24">
    <div class="container mx-auto grid grid-cols-1 2xl:grid-cols-2">
        <div>
            <address class="not-italic flex flex-col gap-y-2 text-bilus-700">
                <p class="text-bilus-500 text-lg font-bold">Bilus Teknoloji A.Ş</p>
                <p class="leading-relaxed">
                    Şeyh Galip Sk - OFTON Elysium B Blok 2/1<br/>
                    34718 - Acıbadem - İstanbul<br/>
                    Türkiye
                </p>
                <p>
                    <a class="text-sm" href="https://maps.app.goo.gl/yEMBMhjsX3bqnkBQ7" target="_blank" rel="noopener noreferrer">
                      See in Google Maps
                    </a>
                </p>
            </address>
            
            <div class="flex flex-row items-center gap-x-2 text-bilus-500 mt-5">
                <a title="Follow us on X!" href="https://x.com/bilusteknoloji" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M18.42,14.009L27.891,3h-2.244l-8.224,9.559L10.855,3H3.28l9.932,14.455L3.28,29h2.244l8.684-10.095,6.936,10.095h7.576l-10.301-14.991h0Zm-3.074,3.573l-1.006-1.439L6.333,4.69h3.447l6.462,9.243,1.006,1.439,8.4,12.015h-3.447l-6.854-9.804h0Z"></path>
                    </svg>
                </a>

                <a title="Follow us on GitHub!" href="https://github.com/bilusteknoloji/" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M16,2.345c7.735,0,14,6.265,14,14-.002,6.015-3.839,11.359-9.537,13.282-.7,.14-.963-.298-.963-.665,0-.473,.018-1.978,.018-3.85,0-1.312-.437-2.152-.945-2.59,3.115-.35,6.388-1.54,6.388-6.912,0-1.54-.543-2.783-1.435-3.762,.14-.35,.63-1.785-.14-3.71,0,0-1.173-.385-3.85,1.435-1.12-.315-2.31-.472-3.5-.472s-2.38,.157-3.5,.472c-2.677-1.802-3.85-1.435-3.85-1.435-.77,1.925-.28,3.36-.14,3.71-.892,.98-1.435,2.24-1.435,3.762,0,5.355,3.255,6.563,6.37,6.913-.403,.35-.77,.963-.893,1.872-.805,.368-2.818,.963-4.077-1.155-.263-.42-1.05-1.452-2.152-1.435-1.173,.018-.472,.665,.017,.927,.595,.332,1.277,1.575,1.435,1.978,.28,.787,1.19,2.293,4.707,1.645,0,1.173,.018,2.275,.018,2.607,0,.368-.263,.787-.963,.665-5.719-1.904-9.576-7.255-9.573-13.283,0-7.735,6.265-14,14-14Z"></path>
                    </svg>
                </a>

                <a title="Follow us on LinkedIn!" href="https://www.linkedin.com/company/bilusteknoloji" target="_blank" rel="noopener noreferrer">
                    <svg class="size-8" fill="currentColor" stroke="none" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M26.111,3H5.889c-1.595,0-2.889,1.293-2.889,2.889V26.111c0,1.595,1.293,2.889,2.889,2.889H26.111c1.595,0,2.889-1.293,2.889-2.889V5.889c0-1.595-1.293-2.889-2.889-2.889ZM10.861,25.389h-3.877V12.87h3.877v12.519Zm-1.957-14.158c-1.267,0-2.293-1.034-2.293-2.31s1.026-2.31,2.293-2.31,2.292,1.034,2.292,2.31-1.026,2.31-2.292,2.31Zm16.485,14.158h-3.858v-6.571c0-1.802-.685-2.809-2.111-2.809-1.551,0-2.362,1.048-2.362,2.809v6.571h-3.718V12.87h3.718v1.686s1.118-2.069,3.775-2.069,4.556,1.621,4.556,4.975v7.926Z" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="ml-auto">
            <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-20">
                <div>
                    <ul class="*:mb-4 last:*:mb-0 text-sm text-bilus-500 [&>li>a]:font-semibold [&>li>a]:hover-underline">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="*:mb-4 last:*:mb-0 text-sm text-bilus-500 [&>li>a]:font-semibold [&>li>a]:hover-underline">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>